{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 option">
        <h2 class="bold">{{ lesson.title }}</h2>
        
    </div>

</div>
<div class="row" data-lesson-id="{{ lesson_id }}">
    <div class="col-md-2"></div>
    <div class="col-md-3 lesson img-container">
        <!--{% if lesson.image %}
            {% if lesson.image.startswith('http') %}
                <img src="{{ lesson.image }}" alt="Lesson Image">
            {% else %}
                <img src="{{ url_for('static', filename=lesson.image) }}" alt="Lesson Image">
            {% endif %}
        {% endif %}-->
        <div id="component-image"></div>
    </div>
    <div class="col-md-5">
        <div class="lesson">
            <div id="component-content"></div>
        </div>
        {% if lesson.get('video') %}
        <div class="video-container lesson">
            <video src="{{ url_for('static', filename=lesson.video.src) }}" controls {% if lesson.video.get('autoplay') %}autoplay{% endif %} {% if lesson.video.get('loop') %}loop{% endif %} muted playsinline style="width: {{ lesson.video.size[0] }}%; height: {{ lesson.video.size[1] }}%;">
                Your browser does not support the video tag.
            </video>
        </div>
        {% endif %}
    </div>
    
    
    
    

</div>

<div class="footer-buttons">
    <div class="float-left">
        <a href="/" class="btn btn-secondary">Back to Flight Deck</a>
    </div>
    <div class="text-right">
    <button id="prev-btn" class="btn btn-secondary">Previous</button>
    {% if next_lesson_id %}
        <!--<a href="{{ url_for('learn', lesson_id=next_lesson_id) }}" class="btn btn-primary">Next</a>-->
        <button id="next-btn" class="btn btn-primary">Next</button>
    {% else %}
        <a href="/quiz_start" class="btn btn-primary">Take Quiz</a>
    {% endif %}
    </div>
    <div class="clearfix"></div>
</div>




{% endblock %}

{% block scripts %}
    <script>
        var lesson = {{ lesson | tojson }};
        var vocabulary = {{ vocabulary | tojson }};
    </script>
    <script src="{{ url_for('static', filename='learn.js') }}"></script>
{% endblock %}